<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start" (click)="salir()">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Filtro
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <!-- <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm"> -->
    <ion-list>

      <h2 class="title-label">Filtro de Cita</h2>


    </ion-list>
  <!-- </form> -->
</ion-content>