<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start" (click)="salir()">
      <ion-back-button text="" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Filtro Cita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div class="formFiltro">
    <ion-list>
      <ion-item fill="outline" mode="md">
          <ion-label position="floating">Tipo Cita</ion-label>
          <ion-select class="custom-options" multiple="true" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selectTipoCita">
            <ion-select-option *ngFor="let el of listaTipoCitas" [value]="el.nIdTipoCita">{{el.vDescripcion}}</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item fill="outline" mode="md">
          <ion-label position="floating">Tipo Donación</ion-label>
          <ion-select class="custom-options" multiple="true" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selectTipoDonacion">
            <ion-select-option *ngFor="let el of listaTipoDonaciones" [value]="el.nIdTipoDonacion">{{el.vDescripcion}}</ion-select-option>
          </ion-select>
      </ion-item>

      <div class="btnFiltro">
        <ion-button expand="block" (click)="buscar()">
          <ion-icon name="search-outline"></ion-icon> Buscar
        </ion-button>
      </div>

  </ion-list>
  </div>
</ion-content>