<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      LISTA DEMO
    </ion-title>
    <ion-buttons  slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar color="default" debounce="5000"></ion-searchbar>
  <ion-list>
    <ion-item-sliding>

      <ion-item>
        <ion-label>
          <h2>PACIENTE 001</h2>
          <p>Nombre: Francisco</p>
          <p>Edad: 33</p>
        </ion-label>
        <ion-badge slot="end" color="danger">001</ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning">editar</ion-item-option>
        <ion-item-option color="danger">eliminar</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-tab-bar>
  <ion-tab-button tab="account" (click)="inicio()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="account" (click)="nuevo()">
    <ion-icon name="newspaper-outline"></ion-icon>
    <ion-label>Nuevo</ion-label>
  </ion-tab-button>
</ion-tab-bar>