<ion-header class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      CREAR USUARIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
    <ion-list>

      <ion-item [disabled]="true">
          <ion-input name="nIdPersona" type="text" formControlName="nIdPersona" required>
          </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de documento*</ion-label>
        <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="nIdTipoDocu" required>
          <ion-select-option *ngFor="let el of listaTipoDocu" [value]="el.nIdTipoDocu">{{el.vAbrev}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Documento*</ion-label>
        <ion-input name="vDocumento" maxlength="20" type="text" formControlName="vDocumento" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombres*</ion-label>
        <ion-input name="vNombres" maxlength="100" type="text" formControlName="vNombres" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido paterno*</ion-label>
        <ion-input name="vApPaterno" maxlength="50" type="text" formControlName="vApPaterno" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido materno*</ion-label>
        <ion-input name="vApMaterno" maxlength="50" type="text" formControlName="vApMaterno" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de nacimiento*</ion-label>
        <ion-input
          value="{{ form.value['dFechaNac'] | date: 'dd-MM-yyyy' }}"
          id="date"
          class="ion-text-end"
        ></ion-input>
        <ion-popover trigger="date" size="contain" cssClass="ccsClass">
          <ng-template>
            <ion-datetime
              presentation="date"
              formControlName="dFechaNac"
              locale="es-PE"
              required
            ></ion-datetime>
          </ng-template>
        </ion-popover>      
      </ion-item>

      <ion-item>
        <ion-label>Sexo*</ion-label>
        <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="nSexo" required>
          <ion-select-option *ngFor="let el of listaSexo" [value]="el.nIdSexo">{{el.vDescripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de sangre*</ion-label>
        <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="vTipoSangre" required>
          <ion-select-option *ngFor="let el of listaTipoSangre" [value]="el">{{el}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Talla(cm)*</ion-label>
        <ion-input name="nTalla" type="number" formControlName="nTalla" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Peso(kg)*</ion-label>
        <ion-input name="nPeso" type="number" formControlName="nPeso" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Celular*</ion-label>
        <ion-input name="vCelular" maxlength="20" type="tel" inputmode="tel" formControlName="vCelular" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección*</ion-label>
        <ion-input name="vDireccion" maxlength="100" type="text" formControlName="vDireccion" required>
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label class="title-in-form">Datos de usuario:</ion-label>
      </ion-item>      

      <ion-item>
        <ion-label position="floating">Email*</ion-label>
        <ion-input name="vEmail" maxlength="50" type="email" inputmode="email" formControlName="vEmail" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña*</ion-label>
        <ion-input name="vContrasena" maxlength="20" type="password" formControlName="vContrasena" required>
        </ion-input>
      </ion-item>

      <ion-item [disabled]="true">
        <ion-input name="nEsPaciente" type="text" formControlName="nEsPaciente" required>
        </ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>

<ion-tab-bar>
  <ion-tab-button tab="account" (click)="irLogin()">
    <ion-icon name="return-up-back-outline"></ion-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="account" (click)="guardar()">
    <ion-icon name="save-outline"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-tab-button>
</ion-tab-bar>