<ion-content>

    <ion-card class="cardborde">
      <ion-card-header>
        <ion-card-title>
          Registrar usuario
        </ion-card-title>
        <ion-card-subtitle>
          Ingrese datos del usuario
        </ion-card-subtitle>
      </ion-card-header>
    <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
    <ion-card-content>
    <!--div nIdPersona?: number;
    nIdTipoDocu?: number;
    vDocumento?: string;
    vNombres?: string;
    vApPaterno?: string;
    vApMaterno?: string;
    dFechaNac?: Date;
    nSexo?: number;
    vTipoSangre?: string;
    nTalla?: number;
    nPeso?: number;
    vCelular?: string;
    vEmail?: string;
    vDireccion?: string;
    nEsPaciente?: number; ></div-->

       <ion-item [disabled]="true">
           <ion-input name="nIdPersona" type="text" placeholder="id" formControlName="nIdPersona" required>
           </ion-input>
       </ion-item>

       <ion-item>
        <ion-label>Tipo de documento</ion-label>
            <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="nIdTipoDocu" required>
              <ion-select-option *ngFor="let el of listaTipoDocu" [value]="el.nIdTipoDocu">{{el.vAbrev}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Documento</ion-label>
          <ion-input name="vDocumento" type="text" formControlName="vDocumento" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input name="vNombres" type="text" formControlName="vNombres" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido paterno</ion-label>
          <ion-input name="vApPaterno" type="text" formControlName="vApPaterno" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido materno</ion-label>
          <ion-input name="vApMaterno" type="text" formControlName="vApMaterno" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-input name="dFechaNac" type="date" formControlName="dFechaNac" required [value]="obtenerHoy()">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Sexo</ion-label>
          <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="nSexo" required>
            <ion-select-option *ngFor="let el of listaSexo" [value]="el.nIdSexo">{{el.vDescripcion}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Tipo de sangre</ion-label>
          <ion-select interface="action-sheet" placeholder="Seleccione" formControlName="vTipoSangre" required>
            <ion-select-option *ngFor="let el of listaTipoSangre" [value]="el">{{el}}</ion-select-option>
          </ion-select>
        </ion-item>

         <div class="sign-btn-wrap">
          <ion-button  shape="round" type="ion-button" fill="solid" class="sign-btn" (click)="guardar()">Crear cuenta</ion-button>
        </div>

        <ion-item>
          <ion-label position="floating">Talla</ion-label>
          <ion-input name="nTalla" type="number" formControlName="nTalla" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Peso</ion-label>
          <ion-input name="nPeso" type="number" formControlName="nPeso" required>
          </ion-input>
        </ion-item>

   </ion-card-content>
    </form>
  </ion-card>
</ion-content>