<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     CREAR USUARIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    crear pasciente, estamos trabajando
  </div>
</ion-content>

<ion-tab-bar>
  <ion-tab-button tab="account">
    <ion-icon name="return-up-back-outline"></ion-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="account">
    <ion-icon name="save-outline"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-tab-button>
</ion-tab-bar>
