<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title> -->
      <ion-searchbar [(ngModel)]="data" debounce="300" (ionChange)="buscar()" placeholder="Buscar" color="default"></ion-searchbar>
    <!-- </ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="nuevo()">
          <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding>      

      <ion-item lines="none" style="padding-top: 0px;" *ngFor="let user of dataCita; let i = index">

        <div class="container">

          <ion-card>   
            <ion-header>
            </ion-header>    
            <ion-card-content>
              <ion-item lines="none">
                <img slot="start" src="{{user.vIcon}}" style="width: 50px;"/>
                <ion-label>
                    <h2 class="labelCard">{{i+1}}) {{user.fechaProgramada}}</h2>
                    <p>{{user.vTipoCita}}</p>
                    <p *ngIf="user.nTipoCita === 1 || user.nTipoCita === 3" style="white-space: break-spaces;">{{user.vBanco}}</p>
                    <p *ngIf="user.nTipoCita === 2" style="white-space: break-spaces;">{{user.vCampana}}</p>
                    
                </ion-label>
              </ion-item>
              <ion-button color="success" fill="clear" size="full" (click)="edit(user.nIdCita, false)">
                <ion-icon name="eye-outline"></ion-icon>
              </ion-button>  
  
            </ion-card-content>
          </ion-card>
          
        </div>

      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  

</ion-content>

