
ion-label{
    font-weight:bold;
}

.selected-tab{
    background: linen;
    text-shadow: 0 0 black;
}

.text-estado-1{
    color: #0A0A0A;
}

.text-estado-2{
    color: #0000FF;
}

.text-estado-3{
    color: #FF0000;
}

.text-estado-4{
    color: #00BB2D;
}

.text-estado-5{
    color: #FF8000;
}

.text-estado-6{
    color: #FAD201;
}

.list-md{
    margin-left: -14px;
    margin-right: -43px;
}

.imagen{
    padding-top:20px;
    padding-left:13px;
}

.estado{
    padding-top:21px;
    font-weight:bold;
}