<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title> -->
      <ion-searchbar [(ngModel)]="data" debounce="300" (ionChange)="buscar(currentTab)" placeholder="Buscar Cita" color="default"></ion-searchbar>
    <!-- </ion-title> -->
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon size="large" name="options-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="nuevo()">
        <ion-icon size="large" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tab-bar slot="top">
  <ion-tab-button *ngIf="currentTab===1" class="selected-tab" (click)="buscarTab(1)">
    <ion-label>PENDIENTES</ion-label>
  </ion-tab-button>
  <ion-tab-button *ngIf="currentTab!==1" (click)="buscarTab(1)">
    <ion-label>PENDIENTES</ion-label>
  </ion-tab-button>
  <ion-tab-button *ngIf="currentTab===2" class="selected-tab" (click)="buscarTab(2)">
    <ion-label>HISTORIAL</ion-label>
  </ion-tab-button>
  <ion-tab-button *ngIf="currentTab!==2" (click)="buscarTab(2)">
    <ion-label>HISTORIAL</ion-label>
  </ion-tab-button>
</ion-tab-bar>

<ion-content>

  <ion-list>
    <!--(ionDrag)="openSlide(slide)"-->
    <ion-item-sliding #slide (ionDrag)="openSlide(slide)">
      <ion-item-options side="end">
      </ion-item-options>

      <ion-item>
        <ion-text *ngIf="dataCita.length === 0">
          {{sinResultados}}
        </ion-text>
        <ion-list *ngIf="dataCita.length > 0">
          <ion-item lines="none" style="padding-top: 0px;" *ngFor="let cita of dataCita; let i = index">
            <ion-card style="width: -webkit-fill-available;">   
              <ion-header>
              </ion-header>    
              <ion-card-content>
                <ion-item lines="none">
                  <img slot="start" src="{{cita.vIcon}}" style="width: 50px;"/>
                  <ion-label>
                      <h2 class="labelCard" style="font-weight: bold;">{{cita.diaProgramado}}</h2>
                      <h2 class="labelCard">{{cita.fechaProgramada}}</h2>
                      <p style="white-space: break-spaces;">{{cita.vTipoCita}}</p>
                      <p *ngIf="cita.nTipoCita === 1 || cita.nTipoCita === 3" style="white-space: break-spaces;">{{cita.vBanco}}</p>
                      <p *ngIf="cita.nTipoCita === 2" style="white-space: break-spaces;">{{cita.vCampana}}</p>
                      <small class="text-estado-{{cita.estado.nIdEstado}}" *ngIf="cita.estado.visual">{{cita.estado.vDescripcion.toUpperCase()}}</small>                  
                  </ion-label>
                </ion-item>
                <ion-button color="success" fill="clear" size="full" (click)="edit(cita.nIdCita, false)">
                  <ion-icon name="eye-outline"></ion-icon>
                </ion-button>  
    
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-item>
      
      <ion-item-options side="start">
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData(currentTab, $event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
