<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      LISTA CITA
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
    </ion-button>
      <ion-button (click)="nuevo()">
          <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="data" debounce="300" (ionChange)="buscar()" placeholder="Buscar" color="default"></ion-searchbar>
  
  <!-- <ion-item>
    <ion-label position="floating">Tipo Cita</ion-label>
    <ion-select class="custom-options" multiple="true" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selectTipoCita" (ionChange)="buscar()">
      <ion-select-option *ngFor="let el of listaTipoCitas" [value]="el.nIdTipoCita">{{el.vDescripcion}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Tipo Donación</ion-label>
    <ion-select class="custom-options" multiple="true" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selectTipoDonacion" (ionChange)="buscar()">
      <ion-select-option *ngFor="let el of listaTipoDonaciones" [value]="el.nIdTipoDonacion">{{el.vDescripcion}}</ion-select-option>
    </ion-select>
  </ion-item> -->

  <ion-list>
    <ion-item-sliding>
      

      <ion-item *ngFor="let user of dataCita; let i = index">

        <ion-card>   
          <ion-header>
          </ion-header>    
          <ion-card-content>
            <ion-item lines="none">
              <img slot="start" src="{{user.vIcon}}" style="width: 50px;"/>
              <ion-label>
                  <h2 class="labelCard">{{i+1}}) {{user.fechaProgramada}}</h2>
                  <p>{{user.vTipoCita}}</p>
                  <p>{{user.vBanco}}</p>
                  
              </ion-label>
            </ion-item>
            <ion-button color="success" fill="clear" size="full" (click)="edit(user.nIdCita, false)">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>  

          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>