<ion-app>
  <ion-menu *ngIf="userActive" menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg">Menu</div>
      <div class="header-content">
        <img src="/assets/logo.png" />
        <ion-label>
          <h2>{{nombres}}</h2>
          <h2>{{apellidos}}</h2>
            <!--h2>{{user}}</h2-->
          <p>{{dni}}</p>
        </ion-label>
      </div>

    <ion-list class="menu-items" lines="none" *ngFor="let m of menus">
        <ion-menu-toggle autoHide="true">
            <ion-item style="cursor: pointer;" [routerDirection]="'back'" [routerLink]="[m.url]">
              <ion-icon [name]="m.icon"></ion-icon>
              <ion-label>
                {{m.nombre}}
              </ion-label>
              <span routerLink="{{m.url}}"></span>            
            </ion-item>
        </ion-menu-toggle>          
    </ion-list>
      
    <ion-list class="menu-items" lines="none">
        <ion-menu-toggle autoHide="true">
            <ion-item style="cursor: pointer;" [routerDirection]="'root'" (click)="closeLogin()">
              <ion-icon name="close-circle-outline"></ion-icon>
              <ion-label>
                Cerrar Sesión
              </ion-label>        
            </ion-item>
        </ion-menu-toggle>        
    </ion-list>

    <ion-label *ngIf="correoVerif">
      Correo no verificado
    </ion-label>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
