<ion-app>
  <ion-menu *ngIf="userActive" menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg">Menu</div>
      <div class="header-content">
        <img src="/assets/logo.png" />
        <ion-label>
          <h2>{{user}}</h2>
          <p>{{dni}}</p>
        </ion-label>
      </div>

    <ion-list class="menu-items" lines="none" *ngFor="let m of menus">
        <ion-menu-toggle autoHide="true">
            <ion-item style="cursor: pointer;">
              <ion-icon name="{{m.icon}}"></ion-icon>
              <span routerLink="{{m.url}}">{{m.nombre}}</span>            
            </ion-item>
        </ion-menu-toggle>          
    </ion-list>
      
    <ion-list class="menu-items" lines="none">
        <ion-menu-toggle autoHide="true">
            <ion-item style="cursor: pointer;">
              <ion-icon name="close-circle-outline"></ion-icon>
              <span (click)="closeLogin()">Cerrar Sessión</span>            
            </ion-item>
        </ion-menu-toggle>        
    </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
