<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="lcita"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="ver">
      AGENDAR CITA
    </ion-title>
    <ion-title *ngIf="!ver">
      VER CITA
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardar()">
          <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
    <ion-list>

      <h2 class="title-label">{{tipoCita.vDescripcion}}</h2>

      <ion-item *ngIf="false">
        <ion-input name="nIdCita" type="text" formControlName="nIdCita" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-radio-group value="{{tipoDonacion.nIdTipoDonacion}}" allow-empty-selection="false" (ionChange)="seleccionaTipoDonacion($event)" required #radioGroup >
          <ion-label>Tipo de donación</ion-label>
          <ion-row>
            <ion-col *ngFor="let el of listaTipoDonaciones">
              <ion-item>
                <ion-label>{{el.vDescripcion}}</ion-label>
                <ion-radio slot="start" value="{{el.nIdTipoDonacion}}" [disabled]="!ver"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>    
        </ion-radio-group>
      </ion-item>

      <ion-item>
        <ion-label *ngIf="DPTO.value === '00'">Departamento</ion-label>
        <ion-label position="floating" *ngIf="DPTO.value !== '00'">Departamento</ion-label>
        <ion-select #DPTO interface="action-sheet" placeholder="Seleccione" formControlName="vIdDepartamento" (ionChange)="updateDpto(DPTO.value)" [disabled]="!ver" required>
          <ion-select-option *ngFor="let el of listaDepartamentos" [value]="el.vUbigeo">{{el.vNombre}}</ion-select-option>
        </ion-select>     
      </ion-item>

      <ion-item>
        <ion-label *ngIf="PROV.value === '0000'">Provincia</ion-label>
        <ion-label position="floating" *ngIf="PROV.value !== '0000'">Provincia</ion-label>
        <ion-select #PROV [disabled]="listaProvincias.length==0 || !ver" interface="action-sheet" placeholder="Seleccione" formControlName="vIdProvincia" (ionChange)="updateProv(PROV.value)" required>
          <ion-select-option *ngFor="let el of listaProvincias" [value]="el.vUbigeo">{{el.vNombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <!--DONACIÓN A BANCO O DIRIGIDA-->
      <ion-item *ngIf="tipoCita.nIdTipoCita===1 || tipoCita.nIdTipoCita===3">
        <ion-label *ngIf="BANCO.value === 0">Banco</ion-label>
        <ion-label position="floating" *ngIf="BANCO.value !== 0">Banco</ion-label>
        <ion-select #BANCO [disabled]="listaBancos.length==0 || !ver" interface="action-sheet" placeholder="Seleccione" formControlName="nIdBanco" (ionChange)="updateBanco(BANCO.value)" required>
          <ion-select-option *ngFor="let el of listaBancos" [value]="el.nIdBanco">{{el.vDescripcion}}</ion-select-option>
        </ion-select>
      </ion-item>

      <!--DONACIÓN A CAMPAÑA-->
      <ion-item *ngIf="tipoCita.nIdTipoCita===2">
        <ion-label>Campaña</ion-label>
        <ion-select [disabled]="listaCampanas.length==0" interface="action-sheet" placeholder="Seleccione" formControlName="nIdCampana" [disabled]="!ver" required>
          <ion-select-option *ngFor="let el of listaCampanas" [value]="el.nIdCampana">{{el.vDescripcion}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item *ngIf="(tipoCita.nIdTipoCita===1 || tipoCita.nIdTipoCita===3) && horarioAtencion.length !== 0">
        <ion-label position="stacked" (click)="showHorario=!showHorario">Horario de atención 
          <ion-icon *ngIf="!showHorario" name="arrow-down"></ion-icon>
          <ion-icon *ngIf="showHorario" name="arrow-up"></ion-icon>
        </ion-label>        
        <ion-list *ngIf="showHorario" style="padding: 0; margin-top: 5px;">
          <ion-item *ngFor="let el of horarioAtencion">
            <span>
              {{el}}
            </span>
          </ion-item>    
        </ion-list>
      </ion-item>

      <ion-item *ngIf="tipoCita.nIdTipoCita===1 || tipoCita.nIdTipoCita===3">
        <ion-label position="stacked">
          F. programada
        </ion-label>
        <ion-button color="light" id="open-datetime">
          {{programadoFormatted}}
        </ion-button>
        <ion-popover class="popover-bottom" trigger="open-datetime" size="cover" arrow="false">
          <ng-template>
            <ion-datetime
              #PROG
              [readonly]="!ver"
              [firstDayOfWeek]="1"
              [min]="minFechaCita"
              [max]="maxFechaCita"
              size="cover"
              color="danger"
              locale="es-PE"
              minute-values="0,15,30,45"
              excludedDays="6,7"
              formControlName="dProgramacion"
              (ionChange)="actualizaProgramacion(PROG.value)"
              required>
              <!--ion-buttons slot="buttons">
                <ion-button onClick="() => this.resetHour()">Reiniciar</ion-button>
              </ion-buttons-->
            </ion-datetime>
          </ng-template>>
        </ion-popover>        
      </ion-item>

      <ion-item *ngIf="tipoCita.nIdTipoCita===3">
        <ion-label position="floating">Documento paciente</ion-label>
        <ion-input name="vIdReceptor" maxlength="20" type="text" formControlName="vIdReceptor" required>
        </ion-input>
      </ion-item>

    </ion-list>
  </form>
</ion-content>