<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
      <ion-img src="assets/hider3.png"></ion-img>
      <ion-card-content>

        <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
        <div class="wrapform">
       
        
          
          <ion-item>
            <ion-input name="vUsuario" type="text" placeholder="Email" formControlName="vUsuario">
              <ion-icon name="mail-outline" ></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-input name="vContrasena" type="password" placeholder="Contraseña" formControlName="vContrasena">
              <ion-icon name="lock-closed" ></ion-icon>
            </ion-input>
        </ion-item>
          

        </div>
         <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding">Has olvidado tu contraseña?</ion-button>
         </div>
         <div class="sign-btn-wrap">
          <ion-button  shape="round" type="ion-button"  fill="solid" class="sign-btn" (click)="login()" [disabled]="!form.valid">Iniciar sesión</ion-button>
           </div>

           <div class="text-tag">
           <span>O a través de las redes sociales</span>
           </div>

           <div class="social-btns">
               <ion-button fill="clear"  class="facebookbtn ion-no-padding">
             <ion-img src="assets/facebook.png"></ion-img>
               </ion-button>
               <ion-button fill="clear"  class="googlebtn ion-no-padding">
             <ion-img src="assets/google.png" (click)="googleSignup()"></ion-img>
               </ion-button>
               <ion-button fill="clear"  class="applebtn ion-no-padding">
             <ion-img src="assets/apple.png"></ion-img>
               </ion-button>

             </div>
             {{ userInfo | json}}


      </form>
      </ion-card-content>
    </ion-card>


    <div class="ion-card-footer">
     <span>¿No tienes una cuenta?</span><button (click)="registrarPersona()">Crear cuenta</button>
      </div>



</ion-content>











<!-- 



<ion-content class="bg-color">

    <ion-card class="ion-no-margin">
      <ion-img src="assets/hider2.png"></ion-img>
        <ion-card-header>
            <ion-card-title>
              DonApp
            </ion-card-title>
            <ion-card-subtitle>
              Sistema de citas e información de donaciones
            </ion-card-subtitle>
        </ion-card-header>
        <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
       <ion-card-content>

           <ion-item>
               <ion-input name="vUsuario" type="text" placeholder="Email" formControlName="vUsuario">
                 <ion-icon name="mail-outline" ></ion-icon>
               </ion-input>
           </ion-item>

           <ion-item>
               <ion-input name="vContrasena" type="password" placeholder="Contraseña" formControlName="vContrasena">
                 <ion-icon name="lock-closed" ></ion-icon>
               </ion-input>
           </ion-item>

           <div class="sign-btn-wrap">
              <ion-button  shape="round" type="ion-button"  fill="solid" class="sign-btn" (click)="login()" [disabled]="!form.valid">Iniciar sesión</ion-button>
              <ion-button  shape="round" type="ion-button" fill="solid" class="sign-btn" (click)="registrarPersona()">Crear cuenta</ion-button>
 
            </div>

             <div class="social-btns">
                 <ion-button fill="clear"  class="facebookbtn ion-no-padding">
               <ion-img src="assets/facebook.png"></ion-img>
                 </ion-button>
                 <ion-button fill="clear"  class="googlebtn ion-no-padding">
               <ion-img src="assets/google.png"></ion-img>
                 </ion-button>
                 <ion-button fill="clear"  class="applebtn ion-no-padding">
               <ion-img src="assets/apple.png"></ion-img>
                 </ion-button>

               </div>

       </ion-card-content>
        </form>
    </ion-card>

</ion-content> -->

