#bg {
  height: 40%;
  width: 500px;
  background: var(--ion-color-dark) url('../../../../assets/fondo2.jpg') no-repeat center center/cover;
  border-radius: 0 0 45% 45%;
  margin-left: -21vw;
  position: relative;
}
ion-fab {
  img {
      font-size: 2.5rem;
  }
}

ion-list {
  margin-top: 6vh;
  ion-list-header {
      font-weight: 1000;
      font-size: 1.5rem;
      color: #681575;
  }
  ion-item {
      // border: 1px solid var(--ion-color-light);
      border-radius: 20px;
      -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
      -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
      box-shadow: 0 5px 2px -3px #77053b;
      margin-left:0px;
      margin-right:0px;
      background-color:#261faf;
      ion-input{
        color: rgb(22, 22, 177);
      }
  }
  ion-button {
    border-radius:14px;
    background: linear-gradient(90deg, #9b1417 0%, #681575 100%);
  }
  p {
      font-size: 0.8rem;
      padding-left: 5vw;
      color: #681575;
  }
}