<ion-content [fullscreen]="true">
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed">
      <ion-fab-button color="white" routerLink="/home">
        <ion-icon color="#9b1417" name="close-outline" color="medium"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
  <ion-list lines="none" class="ion-margin">
    <ion-list-header>Bienvenido</ion-list-header>
      <ion-item class="ion-margin">
        <ion-input name="vUsuario" formControlName="vUsuario" placeholder="Ingrese email" type="text" clearInput="true"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-input name="vContrasena" formControlName="vContrasena" placeholder="Ingrese contraseña" type="password" clearInput="true"></ion-input>
      </ion-item>
      <!-- <ion-text color="medium"><p class="ion-margin-horizontal">¿Olvidaste tu contraseña?</p></ion-text> -->
      
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div>
              <ion-button style="background:#261faf" shape="round" strong="true" class="ion-margin-end" color="plant" routerLink="/home">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Atrás
              </ion-button>
            </div>           
          </ion-col>
          <ion-col size="6">
            <div>
              <ion-button shape="round" strong="true" class="ion-margin-end" color="plant" (click)="login()">
                Login
                <ion-icon name="log-in" slot="end"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button shape="round" strong="true" class="ion-margin-end" color="plant" (click)="googleSignup()">
        Google
       
      </ion-button>
  </ion-list>
</form>
</ion-content>