<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      INICIO
    </ion-title>
    <ion-buttons  slot="start">
      <ion-menu-button class="white-btn" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div style="text-align: center;" id="container" *ngIf="!correoVerif">
    
    <img *ngIf="!diaCaducado" style="padding-top: 60px;" src="../../../assets/confirmacion2.png" />
    <img *ngIf="diaCaducado" style="padding-top: 60px;" src="../../../assets/contacto.png" />

    <p *ngIf="!diaCaducado">Para acceder a este aplicativo donapp, tiene que verificar tu correo electronico has click en el boton <span style="font-weight:700">VERIFICAR CORREO </span> y te llegara una clave secreta a tu correo. </p>
    <p *ngIf="diaCaducado">Los dias de verificación ha expirado, para mayor información comunicarse al telefono</p>
    <p *ngIf="diaCaducado" style="font-weight: 700;color: #85153e;font-size:21px;">
      <ion-icon name="call-outline"></ion-icon>
      01-239922
    </p>

    <p *ngIf="!diaCaducado" style="font-weight: 700;color: #85153e;">Te quedan {{diaRestante}} días para verificar</p>

    <div *ngIf="!diaCaducado">
      <ion-button *ngIf="!correoVerif" expand="mediun" href="/verifcorreo">
        Verifica correo
      </ion-button>
    </div>

  </div>
  
  <ion-slides *ngIf="correoVerif" #slides pager="true" (ionSlideDidChange)="ionSlideChange(slides)">
    <ion-slide *ngFor='let item of dataSource'>
      <div class="slide">
        <img src="{{item.vImagen}}" />
        <h2>{{item.vTitulo}}</h2>
        <p>
          {{item.vDescripcion}}
        </p>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>