<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      INICIO
    </ion-title>
    <ion-buttons  slot="start">
      <ion-menu-button class="white-btn" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center;" id="container" *ngIf="!correoVerif">
    <img style="padding-top: 60px;" src="../../../assets/confirmacion2.png" />

    <p>Para acceder a este aplicativo donapp, tiene que verificar tu correo electronico has click en el boton <span style="color:#85153e; font-weight:700">VERIFICAR CORREO </span> y te llegara una clave secreta a tu correo. </p>
    <p>Te esperamos..!</p>
    <ion-button *ngIf="!correoVerif" expand="mediun" href="/verifcorreo">
      Verifica correo
    </ion-button>
  </div>

  <ion-slides *ngIf="correoVerif">
    <ion-slide *ngFor='let item of dataSource'>
      <div class="slide">
        <img src="{{item.vImagen}}" />
        <h2>{{item.vTitulo}}</h2>
        <p>
          {{item.vDescripcion}}
        </p>
      </div>
    </ion-slide>
  </ion-slides>
     

</ion-content>