<ion-header [translucent]="true" class="header-toolbar">
  <ion-toolbar class="header-toolbar">
    <ion-title>
      CREAR PACIENTE
    </ion-title>
    <ion-buttons  slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-tab-bar>
  <ion-tab-button tab="account" (click)="inicio()">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="account" (click)="regresar()">
    <ion-icon name="return-up-back-outline"></ion-icon>
    <ion-label>Regresar</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="account">
    <ion-icon name="save-outline"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-tab-button>
</ion-tab-bar>

