ion-content {
    --background: var(--ion-color-dark) url('../../../assets/fondo1.jpg') no-repeat center center/cover;
  }
  
  ion-list {
    transform: translateY(18vh);
    background: transparent;
    ion-list-header {
      margin-bottom: 15vh;
      letter-spacing: 3px;
      ion-label {
        font-weight: bold;
        font-size: 27px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #681575;
      }
    }
    ion-button {
      font-weight: bold;
      text-transform: none;
      margin: 5vh;
      border-radius:14px;
      background: linear-gradient(90deg, #9b1417 0%, #681575 100%);
    }
    p {
      font-size: 0.9rem;
    }
  }