/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


form{
    margin: 10px;
}
.header-toolbar{
    --background: linear-gradient(90deg, #9b1417 0%, #681575 100%);
    --color: #fff;
}

.menu-content-open{
    pointer-events: all;
}

.white-btn{
    --color: white;
}

.title-label{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
    color: #85153e;
    font-weight: 600;
}

.num-resultados{
    font-family: system-ui;
    text-align: center;
    color: var(--ion-color-step-600, #666666);
}

.button-native{
    font-size: xx-large;
}

.labelCard{
    font-family: sans-serif;
}

  .native-input.sc-ion-input-md{
    color:#0818a5;
  }

  ion-item{
      padding-top:16px;
      --border-color:#8080808f;
    //   --highlight-background:#0818a5;
      --highlight-height:1px;
  }
ion-card{
    margin-left:2px;
    margin-right: 0px;

    ion-header{
        background: #af5c5d;
        height:4px;
    }
    ion-card-content{
        margin-left:-32px;
    }
}

ion-label{
    --color: #681575;
}