/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


form{
    margin: 10px;
}
.header-toolbar{
    --background: linear-gradient(90deg, #9b1417 0%, #681575 100%);
    --color: #fff;
}

.menu-content-open{
    pointer-events: all;
}

.white-btn{
    --color: white;
}

.title-in-form{
    font-weight: bold;
    --color: #85153e!important;
    margin-bottom: -10px;
}

.title-label{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 20px;
    color: #85153e;
    font-weight: 600;
}

.num-resultados{
    font-family: system-ui;
    text-align: center;
    color: var(--ion-color-step-600, #666666);
}

.button-native{
    font-size: xx-large;
}

.labelCard{
    font-family: sans-serif;
}

.native-input.sc-ion-input-md{
   color:#05107a;
}

.container {
    margin-right: 0em;
    margin-left: 0em;
}
.formFiltro{
    margin:10px;
}

ion-item{
    padding-top:14px;
    --border-color:#8080808f;
    --highlight-height:1px;
}

ion-card{
    padding: 0;

    ion-header{
        background: #af5c5d;
        height:4px;
    }
    ion-card-content{
        margin-left:-32px;
    }
    .card-content-md{
        padding-inline-end:0px;
        padding-top:0px;
        padding-bottom:0px;
    }
}

ion-button{
    --color:#fff;
}

ion-back-button{
    --color:#fff;
}

ion-label{
    --color: #681575;
}

ion-label {
    opacity: 1 !important;
}

.basic-alert {    
    //--backdrop-opacity: 0.6;
    //--background: linear-gradient(90deg, rgb(30, 0, 201) 1%, rgb(248, 255, 248) 100%);
    .alert-wrapper.sc-ion-alert-md, .alert-wrapper.sc-ion-alert-ios {
        border-radius: 10px;
        border: 1px solid #af5c5d;
    }   
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        font-weight: bold;
        color: #85153e;
    }   
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        //color: yellow;
        text-align: center;
        line-height: 150%;
    }
    .alert-button-group.sc-ion-alert-md, .alert-button-group.sc-ion-alert-ios {
        justify-content: center;
    }
    .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        color: black;
        background-color: linen;
        width: 100px;
        border-radius: 5px;
        border: 1px solid #af5c5d;
    }
    .alert-button-inner.sc-ion-alert-md {
        display: inline-block;
        text-align: center;
    }
}